  
body {
    background-color: black;
}
div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("/assets/board.jpg") no-repeat;
}
div#messageArea {
    position: absolute;
    top: 20px;
    left: 0px;
    color: rgb(83, 175, 19);
    font-size: 20px;
}
table{
    position: absolute;
    left: 173px;
    top: 98px;

    border-spacing: 0px;
}
td{
    width: 94px;
    height: 94px;
    /* border: 2px solid red; */
}
form{
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}
form input{
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}
.hit{
    background: url("/assets/ship.png") no-repeat center center;
}
.miss{
    background: url("/assets/miss.png") no-repeat center center;
}

#button {
    background-color: rgb(83, 175, 19);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
  }